body[theme="dark"] {
    background: #31363b;
    color: #f1f1f1;
}

body[theme="dark"] .navbar .navbar-brand {
    color: #ffffff;
}

body[theme="dark"] .navbar .navbar-brand {
    color: #ffffff;
}

body[theme="dark"] .navbar .dropdown-menu {
    list-style-image: initial;
    background-color: #171a1e;
    border-color: #31363b;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 6px 12px;
}

body[theme="dark"] .navbar .dropdown-menu > li > a {
    color: #c8c3bc;
}

body[theme="dark"] .navbar .dropdown-menu > li > a:focus,
body[theme="dark"] .navbar .dropdown-menu > li > a:hover {
    background-color: #25282a;
    background-image: linear-gradient(#1c1d26 0, #1c1d26 100%);
}

body[theme="dark"] .navbar .navbar-nav > .open > a:focus,
body[theme="dark"] .navbar .navbar-nav > .open > a:hover,
body[theme="dark"] .navbar .navbar-nav > .active > a,
body[theme="dark"] .navbar .navbar-nav > .open > a{
    background-image: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

body[theme="dark"] .navbar .navbar-nav .open .dropdown-menu>li>a {
    color: #f1f1f1;
}

body[theme="dark"] .toolbox i{
    color: rgba(241,241,241,1);
    background-color: rgba(0,0,0,0.5);
}

body[theme="dark"] .content {
    background-image: initial;
    background-color: #1c1d26;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0.625em 2em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0.625em 2em;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0.625em 2em;
}

body[theme="dark"] .table {
    background-image: initial;
    background-color: #1c1d26;
    border-color: #545b5e;
}

body[theme="dark"] .table>thead>tr.node-group-tag>th {
    background-color: #1c1d26;
}

body[theme="dark"] .table-striped tbody > tr.even > td,
body[theme="dark"] .table-striped tbody > tr.even > th {
    background-color: #1c1d26;
}

body[theme="dark"] .table-striped tbody > tr.odd > td,
body[theme="dark"] .table-striped tbody > tr.odd > th {
    background-color: #1c1d26;
}

body[theme="dark"] .progress {
    background-image: linear-gradient(#2c2c2c 0,#1c1d26 100%);
    background-color: #1c1d26;
}

body[theme="dark"] .progress-bar {
    color: white;
}

body[theme="dark"] .progress-bar-success {
    background-image: linear-gradient(#4d853a 0, #367e36 100%);
}

body[theme="dark"] .progress-offline .progress-bar-success {
    background-image: linear-gradient(grey 0, grey 100%);
}

body[theme="dark"] .progress-bar-warning {
    background-image: linear-gradient(#995f0d 0, #b5710f 100%);
}

body[theme="dark"] .progress-offline .progress-bar-warning {
    background-image: linear-gradient(grey 0, grey 100%);
}

body[theme="dark"] .progress-bar-danger {
    background-image: linear-gradient(#942320 0, #a12623 100%);
}

body[theme="dark"] .progress-offline .progress-bar-danger {
    background-image: linear-gradient(grey 0, grey 100%);
}

body[theme="dark"] .table > tbody > tr > td:before,
body[theme="dark"] .table > tfoot > tr > td:before,
body[theme="dark"] .table > thead > tr > td:before,
body[theme="dark"] .table > thead > tr.node-group-cell > th:before{
    background-color: rgba(58, 62, 65, 1);
}

body[theme="dark"] .table > tbody > tr.expandRow > td:before,
body[theme="dark"] .table > thead > tr.node-group-tag > th:before{
    background-color: #1c1d26;
}

body[theme="dark"] .table-hover > tbody > tr:not(.expandRow):hover > td {
    background-color: #171a1e;
}

body[theme="dark"] .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #1c1d26;
}

body[theme="dark"] .node-cell.status .status-icon.online {
    background-image: linear-gradient(#4d853a 0, #367e36 100%);
}

body[theme="dark"] .node-cell.status .status-icon.offline {
    background-image: linear-gradient(#9b2522 0, #9b2522 100%);
}

body[theme="dark"] .service-status .danger {
    background-image: linear-gradient(#942320 0, #a12623 100%);
}

body[theme="dark"] .service-status .good {
    background-image: linear-gradient(#4d853a, #367e36 100%);
}

body[theme="dark"] .service-status .warning {
    background-image: linear-gradient(#995f0d 0, #b5710f 100%);
}

body[theme="dark"] .service-day-status-icon {
    background-color: grey;
}

body[theme="dark"] footer p a, 
body[theme="dark"] footer p a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

body[theme="dark"] .modal-content{
    background-color: #1c1d26;
    color: #f1f1f1;
}

body[theme="dark"] .modal-header{
    border-bottom-color:#080808;
}

body[theme="dark"] .modal-header i{
    color: #f1f1f1;
}
