body[theme="dark"] {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: rgba(49, 54, 59, 1);
    color: #f1f1f1;
}

body[theme="dark"] .navbar .navbar-brand {
    color: #ffffff;
}

body[theme="dark"] .navbar .navbar-nav li.pc-active a,
body[theme="dark"] .navbar .navbar-nav li.m-active a {
    color: rgba(73, 146, 255, 1);
}

body[theme="dark"] .navbar .dropdown-menu {
    background-color: rgba(23, 26, 30, 1);
    border-color: rgba(49, 54, 59, 1);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 6px 12px;
}

body[theme="dark"] .navbar .dropdown-menu > li > a {
    color: #c8c3bc;
}

body[theme="dark"] .navbar .dropdown-menu > li > a:focus,
body[theme="dark"] .navbar .dropdown-menu > li > a:hover {
    background-color: rgba(37, 40, 42, 1);
    background-image: linear-gradient(rgba(28, 29, 38, 1) 0, rgba(28, 29, 38, 1) 100%);
}

body[theme="dark"] .navbar .navbar-nav > .open > a:focus,
body[theme="dark"] .navbar .navbar-nav > .open > a:hover,
body[theme="dark"] .navbar .navbar-nav > .active > a,
body[theme="dark"] .navbar .navbar-nav > .open > a {
    background-image: none;
    box-shadow: none;
    background-color: transparent;
}

body[theme="dark"] .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #f1f1f1;
}

body[theme="dark"] .content {
    background-color: rgba(28, 29, 38, 1);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0.625em 2em;
}

body[theme="dark"] .table {
    background-color: rgba(28, 29, 38, 1);
    border-color: #545b5e;
}

body[theme="dark"] .table > tbody > tr > td:before,
body[theme="dark"] .table > tfoot > tr > td:before,
body[theme="dark"] .table > thead > tr > td:before,
body[theme="dark"] .table > thead > tr.node-group-cell > th:before {
    background-color: rgba(58, 62, 65, 1);
}

body[theme="dark"] .table-striped tbody > tr,
body[theme="dark"] .table-striped tbody > tr.even > td,
body[theme="dark"] .table-striped tbody > tr.even > th {
    background-color: rgba(28, 29, 38, 1);
}

body[theme="dark"] .table-striped tbody > tr,
body[theme="dark"] .table-striped tbody > tr.odd > td,
body[theme="dark"] .table-striped tbody > tr.odd > th {
    background-color: rgba(34, 35, 46, 1);
}

body[theme="dark"] .table-hover > tbody > tr:hover {
    background-color: unset;
}

body[theme="dark"] .table-hover > tbody > tr:not(.expandRow):hover > td {
    background-color: rgba(48, 50, 65, 1);
}

/* expandRow展开部分样式 */
body[theme="dark"] .table > tbody > tr.expandRow.odd > td:before {
    background-color: rgba(34, 35, 46, 1);
}

body[theme="dark"] .table > tbody > tr.expandRow.even > td:before {
    background-color: rgba(28, 29, 38, 1);
}

body[theme="dark"] .plan {
    background-image: none;
    background-color: rgba(255, 255, 255, 0.075); 
}
/* expandRow展开部分样式结束 */

body[theme="dark"] .progress {
    background-image: none;
    background-color: rgba(255, 255, 255, 0.075); 
}

body[theme="dark"] .progress-bar {
    color: #ffffff;
}

body[theme="dark"] .progress-bar-success {
    background-image: linear-gradient(to right, rgba(77, 133, 58, 1) 0, rgba(54, 126, 54, 1) 100%);
}

body[theme="dark"] .progress-bar-warning {
    background-image: linear-gradient(to right, rgba(153, 95, 13, 1) 0, rgba(181, 113, 15, 1) 100%);
}

body[theme="dark"] .progress-bar-danger {
    background-image: linear-gradient(to right, rgba(145, 35, 32, 1) 0, rgba(161, 38, 35, 1) 100%);
}

body[theme="dark"] .progress-offline .progress-bar-success {
    background-image: linear-gradient(rgba(128, 128, 128, 1) 0, rgba(128, 128, 128, 1) 100%);
}

body[theme="dark"] .progress-offline .progress-bar-warning {
    background-image: linear-gradient(rgba(128, 128, 128, 1) 0, rgba(128, 128, 128, 1) 100%);
}

body[theme="dark"] .progress-offline .progress-bar-danger {
    background-image: linear-gradient(rgba(128, 128, 128, 1) 0, rgba(128, 128, 128, 1) 100%);
}

body[theme="dark"] .node-cell.status .status-icon.online {
    background-image: linear-gradient(rgba(77, 133, 58, 1) 0, rgba(54, 126, 54, 1) 100%);
}

body[theme="dark"] .node-cell.status .status-icon.offline {
    background-image: linear-gradient(rgba(155, 37, 34, 1) 0, rgba(161, 38, 35, 1) 100%);
}

body[theme="dark"] .service-status .danger {
    background-image: linear-gradient(#942320 0, #a12623 100%);
}

body[theme="dark"] .service-status .good {
    background-image: linear-gradient(#4d853a, #367e36 100%);
}

body[theme="dark"] .service-status .warning {
    background-image: linear-gradient(#995f0d 0, #b5710f 100%);
}

body[theme="dark"] .service-day-status-icon {
    background-color: rgba(128, 128, 128, 1);
}

body[theme="dark"] footer p a, 
body[theme="dark"] footer p a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

body[theme="dark"] .modal-content {
    background-color: rgba(28, 29, 38, 1);
    color: #f1f1f1;
}

body[theme="dark"] #earthChartBox .modal-content {
    background-color: rgba(0, 0, 0, 1);
    color: #f1f1f1;
}

body[theme="dark"] .modal-header {
    border-bottom-color:#080808;
}

body[theme="dark"] .modal-header i.xclose {
    color: #f1f1f1;
}

body[theme="dark"] .toolbox i {
    color: rgba(241, 241, 241, 1);
    background-color: rgba(0, 0, 0, 0.5);
}

body[theme="dark"] .network-box .network-box-header {
    border-bottom-color: rgba(110, 112, 121, 0.25);
}