body[theme="light"]::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/static/theme-server-status/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1;
}

body[theme="light"] {
    background-image: unset;
}

body[theme="light"]::after {
    content: "";
    position: fixed;
}

body[theme="light"] .navbar {
    /** 顶部导航条 背景 **/
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px #cecece solid;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

body[theme="light"] .navbar .dropdown-menu {
    /** 二级导航下拉 **/
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(0, 0, 0, .05);
}


body[theme="light"] .navbar .dropdown-menu > li > a:focus,
body[theme="light"] .navbar .dropdown-menu > li > a:hover {
    /** 二级导航鼠标悬停选中背景 **/
    background-color: rgba(0, 0, 0, .05);
}

body[theme="light"] .navbar .navbar-collapse {
    border-color:rgba(0, 0, 0, 0.085);
}

body[theme="light"]  .navbar .navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, 0.9);
}

body[theme="light"] .navbar .navbar-toggle:focus, 
body[theme="light"] .navbar .navbar-toggle:hover {
    background-color: unset;
}

body[theme="light"] .table,
body[theme="light"] .table-condensed > tbody > tr,
body[theme="light"] .table-hover > tbody > tr,
body[theme="light"] .table-hover > tbody > tr:hover,
body[theme="light"] .table-striped tbody > tr.even,
body[theme="light"] .table-striped tbody > tr.odd,
body[theme="light"] .table-striped tbody > tr.even > td,
body[theme="light"] .table-striped tbody > tr.even > th,
body[theme="light"] .table-striped tbody > tr.odd > td,
body[theme="light"] .table-striped tbody > tr.odd > th,
body[theme="light"] .table-striped tbody > tr.even > td:hover,
body[theme="light"] .table-striped tbody > tr.even > th:hover,
body[theme="light"] .table-striped tbody > tr.odd > td:hover,
body[theme="light"] .table-striped tbody > tr.odd > th:hover,
body[theme="light"] .table-striped tbody > tr.expandRow:hover {
    background-color: transparent !important;
}

body[theme="light"] .content {
    /** 主box 背景 **/
    background-color: rgba(245, 245, 245, 0.8);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0.625em 2em;
}

body[theme="light"] .table > thead > tr.node-group-tag > th,
body[theme="light"] .table > thead > tr.node-group-tag > th:before {
    background: unset;
}

body[theme="light"] .table > tbody > tr > td:before,
body[theme="light"] .table > tfoot > tr > td:before,
body[theme="light"] .table > thead > tr > td:before,
body[theme="light"] .table > thead > tr.node-group-cell > th:before {
     /** border-bottom 颜色 **/
    background-color: rgba(0, 0, 0, 0.075); 
}

body[theme="light"] .table-hover > tbody > tr:not(.expandRow):hover > td {
    background-color: unset;
}

/* expandRow展开部分样式 */
body[theme="light"] .table > tbody > tr.expandRow.odd > td:before {
    background-color: unset;
}

body[theme="light"] .table > tbody > tr.expandRow.even > td:before {
    background-color: unset;
}

body[theme="light"] .plan {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.015); 
}
/* expandRow展开部分样式结束 */

body[theme="light"] .progress {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.015); 
}

body[theme="light"] .progress-bar-success {
    background-image: linear-gradient(to right, rgba(50, 205, 50, 0.6) 0, rgba(68, 157, 68, 0.6) 100%);
}

body[theme="light"] .progress-bar-warning {
    background-image: linear-gradient(to right, rgba(236, 151, 31, 0.6) 0, rgba(255, 125, 80, 0.6) 100%);
}

body[theme="light"] .progress-bar-danger {
    background-image: linear-gradient(to right, rgba(255, 70, 0, 0.6) 0, rgba(201, 48, 44,0.6) 100%);   
}

body[theme="light"] .toolbox i {
    background-color: rgba(255, 255, 255, .55);
}

@media only screen and (max-width: 767px) {
    body[theme="light"] .navbar .navbar-nav .open .dropdown-menu {
        background-color: rgba(235, 235, 235, 0.75);
    }
}
