{{define "theme-server-status/content-nav"}}
<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container pl-md-unset">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand pl-md-unset">
                    <img src="/static/logo.svg?v20210804" style="height: 2rem;display: inline-block;">
                    {{.Conf.Site.Brand}}
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">{{tr "Home" }}</a></li>
                    <li><a href="/service">{{tr "Services" }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#">{{tr "Menu" }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {{if .Admin}}
                            <li><a href="/server">{{tr "AdminPanel" }} ({{.Admin.Name}})</a></li>
                            {{else}}
                            <li><a href="/login">{{tr "Login" }}</a></li>
                            {{end}}
                            <li><a href="#" @click="setSystemTheme">{{tr "FollowSystem" }}
                                    <span style="color: #fff" v-if="isSystemTheme"> ✔️</span></a>
                            </li>
                            <li><a href="#" @click="setTheme('dark', true)">{{tr "DarkMode" }}
                                    <span v-if="theme === 'dark' && !isSystemTheme"> ✔️</span></a>
                            </li>
                            <li><a href="#" @click="setTheme('light', true)">{{tr "LightMode" }}
                                    <span v-if="theme === 'light' && !isSystemTheme"> ✔️</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{end}}
