{{define "theme-server-status/content-footer"}}
<footer class="container" style="padding-bottom: 2rem;">
    <p style="text-align: center; font-size: 10px;">
        {{ .Conf.Site.Brand }} | Theme ServerStatus | Powered by <a target="_blank" href="https://github.com/naiba/nezha">{{tr "NezhaMonitoring"}}</a> {{.Version}}
    </p>
</footer>
<aside class="toolbox">
    <span v-if="page=='index' && countryMapChartData.length!=0" class="showMapChart">
        <i @click="showMapChart" data-toggle="modal" data-target="#mapChartBox" class="bi bi-geo-alt"></i>
    </span>
    <span class="toggleView">
        <i v-if="showGroup" @click="toggleView" class="show-nogroup bi bi-justify"></i>
        <i v-else @click="toggleView" class="show-group bi bi-view-stacked"></i>
    </span>
    <span class="setTheme">
        <i v-if="theme === 'light'" @click="setTheme('dark', true)" class="setTheme-dark bi bi-moon-fill"></i>
        <i v-else @click="setTheme('light', true)" class="setTheme-light bi bi-brightness-high-fill"></i>
    </span>
    <span v-if="showGoTop" class="showGoTop">
        <i @click="goTop" class="goTop bi bi-arrow-up"></i>
    </span>
</aside>
{{end}}