{{define "theme-server-status/footer"}}
    </section>
    <footer class="container-fluid">
        <p>{{ .Conf.Site.Brand }} | Theme ServerStatus | Powered by <a target="_blank" href="https://github.com/naiba/nezha">{{tr "NezhaMonitoring"}}</a> {{.Version}}</p>
    </footer>
    <aside class="toolbox">
        <template v-if="showTools">
            <span v-if="page=='index' && countryMapChartData.length!=0" class="showMapChart">
                <i @click="showMapChart" data-toggle="modal" data-target="#mapChartBox" class="bi bi-geo-alt"></i>
            </span>
            <span class="toggleView">
                <i v-if="showGroup" @click="toggleShowGroup" class="show-nogroup bi bi-justify"></i>
                <i v-else @click="toggleShowGroup" class="show-group bi bi-view-stacked"></i>
            </span>
            <span class="toggleSemiTransparent" @click="toggleSemiTransparent">
                <i class="bi" :class="semiTransparent ? 'bi-droplet' : 'bi-droplet-half'"></i>
            </span>
        </template>
           <span v-if="!showTools">
            <i @click="toggleShowTools" class="bi bi-three-dots"></i>
        </span>
        <span class="setTheme">
            <i v-if="theme === 'light'" @click="setTheme('dark')" class="setTheme-dark bi bi-moon-fill"></i>
            <i v-else @click="setTheme('light')" class="setTheme-light bi bi-brightness-high-fill"></i>
        </span>
        <span v-if="showGoTop" class="showGoTop">
            <i @click="goTop" class="goTop bi bi-arrow-up"></i>
        </span>
    </aside>
    <template v-if="semiTransparent">
        <link rel="stylesheet" href="/static/theme-server-status/css/light.plus.css?v20241103">
    	<link rel="stylesheet" href="/static/theme-server-status/css/dark.plus.css?v20241103"> 
    </template>
</div>
{{if ts .CustomCode}}{{.CustomCode|safe}}{{end}}
</body>
</html>
{{end}}