{{define "theme-server-status/header"}}
<!DOCTYPE html>
<html lang="{{.Conf.Language}}">
<head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/logo.svg" />
    <script>
        const browserLanguage = navigator.language;
        if (browserLanguage === 'zh-CN'){
            document.write('<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">');
        } else {
            document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">');
        }        
    </script>
    <link rel="stylesheet" href="/static/theme-server-status/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/theme-server-status/css/main.css?v20240407">
    <link rel="stylesheet" href="/static/theme-server-status/css/dark.css?v20240407">
    <link rel="stylesheet" href="/static/theme-server-status/css/light.css?v20240407">
    <script>
        if (browserLanguage === 'zh-CN'){
            document.write('<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">');
            document.write('<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-logos/1.2.0/font-logos.css">');
            document.write('<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/flag-icons/7.2.3/css/flag-icons.min.css">');
            document.write('<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.0/semantic.min.css">');
            document.write('<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"><\/script>');
            document.write('<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"><\/script>');
            document.write('<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"><\/script>');
            document.write('<script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.5.0/echarts.min.js"><\/script>');
        } else {
            document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">');
            document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-logos@1.2.0/assets/font-logos.min.css">');
            document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons@7.2.3/css/flag-icons.min.css">');
            document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">');
            document.write('<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"><\/script>');
            document.write('<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"><\/script>');
            document.write('<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"><\/script>');
            document.write('<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"><\/script>');
        }
    </script>
    <script src="/static/theme-server-status/js/world.js?v20240613"></script>
    <script src="/static/theme-server-status/js/mixin.js?v20240302"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/theme-server-status/js/html5shiv.js"></script>
    <script src="/static/theme-server-status/js/respond.min.js"></script>
    <![endif]-->
    {{if ts .CustomCode}}
    {{.CustomCode|safe}}
    {{end}}
</head>
<body>
{{end}}


