{{define "theme-server-status/menu"}}
<header role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img src="/static/logo.svg" style="height: 2rem;display: inline-block;">
                {{.Conf.Site.Brand}}
            </a>
        </div>
        <nav id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li :class="isMenuActive('index')"><a href="/"><i class="home icon"></i>{{tr "Home" }}</a></li>
                <li :class="isMenuActive('service')"><a href="/service"><i class="rss icon"></i>{{tr "Services" }}</a></li>
                <li :class="isMenuActive('network')"><a href="/network"><i class="bi bi-hdd-network icon"></i>{{tr "NetworkSpiter"}}</a></li>
                {{ if not .Conf.DisableSwitchTemplateInFrontend }}
                    <li class="dropdown">
                        <a data-toggle="dropdown"><i class="bi bi-incognito" style="position:relative;top:1px;margin-right:3px;font-size:1.2rem;vertical-align:top;"></i>{{tr "Template" }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li v-for="(item, index) in adaptedTemplates" :key="index">
                                <a @click="toggleTemplate(item.key)">
                                    <i :class="item.icon + ' icon'" style="font-size:1em"></i>@#item.name#@
                                    <i class="check icon" v-if="preferredTemplate === item.key"></i>
                                </a>
                            </li>
                            <li v-if="defaultTemplate === 'custom'">
                                <a @click="toggleTemplate('custom')" class="item">
                                    <i class="expand icon" style="font-size:1em"></i>Custom
                                </a>
                            </li>
                        </ul>
                    </li>
                {{ end }}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{if .Admin}}
                <li class="dropdown">
                    <a data-toggle="dropdown"><i class="user icon"></i>{{.Admin.Name}}<b class="caret"></b></a>
                    <ul class="dropdown-menu" style="margin-bottom:20px;">
                        <li><a href="/server"><i class="terminal icon"></i>{{tr "AdminPanel" }}</a></li>
                        <li><a @click="logOut({{.Admin.ID}})"><i class="logout icon"></i>{{tr "Logout"}}</a></li>
                    </ul>
                </li>
                {{else}}
                <li><a href="/login"><i class="sign-in icon"></i>{{tr "Login" }}</a></li>
                {{end}}
            </ul>
        </nav>
    </div>
</header>
<section class="nezha">
{{end}}

