{{define "theme-server-status/viewpassword"}}
{{template "common/header" .}}
{{if ts .CustomCode}}
{{.CustomCode|safe}}
{{end}}
<div class="login nb-container">
    <div class="ui center aligned grid">
        <div class="column">
            <h2 class="ui image header">
                <img src="static/logo.svg?v20210804" class="image">
                <div class="content">
                    {{tr "VerifyPassword"}}
                </div>
            </h2>
            <form action="/view-password" method="POST" class="ui form">
                <div class="field">
                    <input type="password" name="Password">
                </div>
                <button class="ui nezha-primary-btn button" type="submit">{{tr "Confirm"}}</button>
            </form>
        </div>
    </div>
</div>
{{template "common/footer" .}}
{{end}}