# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*~
*.out
*.pprof
.idea
/dist
.DS_Store
/cmd/dashboard/data
/cmd/dashboard/main
/cmd/dashboard/*-dist
!/cmd/dashboard/admin-dist/.gitkeep
!/cmd/dashboard/user-dist/.gitkeep
/config.yml
/resource/template/theme-custom
/resource/static/custom
/cmd/dashboard/docs
