{{define "theme-default/footer"}}
</div>
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned is-size-7 container">
        <b>&copy; <a style="color: white;" href="/">{{.Conf.Site.Brand}}</a></b> | <small>Powered by <a
                href="https://github.com/naiba/nezha" style="color: white;" target="_blank">{{tr "NezhaMonitoring"}}</a>
            {{.Version}}</small>
    </div>
</div>
{{ if not .Conf.DisableSwitchTemplateInFrontend }}
<script>
    function showSwitchTemplate(list, currentBackendTheme) {
        // console.log(list, currentBackendTheme);
        // console.log("currentBackendTheme:",currentBackendTheme);
    }
    showSwitchTemplate({{ .Themes }}, {{ .Conf.Site.Theme }})
</script>
{{ end }}
</body>
</html>
{{end}}
