{{define "theme-default/header"}}
<!DOCTYPE html>
<html lang="{{.Conf.Language}}">

<head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#000000" />
    {{ if eq .Conf.Language "zh-CN" }}
        <link rel="manifest" href="/static/manifest-zh-CN.json?v20240905" />
    {{ else }}
        <link rel="manifest" href="/static/manifest-en-US.json?v20240905" />
    {{ end }}
    <link rel="apple-touch-startup-image" href="/static/logo.svg" />
    <link rel="shortcut icon" type="image/png" href="/static/logo.svg">
    <link rel="stylesheet" href="https://unpkg.com/semantic-ui@2.4.0/dist/semantic.min.css">
    <link rel="stylesheet" href="https://unpkg.com/font-logos@0.17.0/assets/font-logos.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/flag-icons@7.2.3/css/flag-icons.min.css">
    <link rel="stylesheet" type="text/css" href="/static/semantic-ui-alerts.min.css">
    <link rel="stylesheet" type="text/css" href="/static/theme-default/css/main.css?v20240816">
    <link rel="stylesheet" type="text/css" href="/static/darkmode.css?v20240816">
    <script src="https://unpkg.com/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/semantic-ui@2.4.0/dist/semantic.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://unpkg.com/echarts@5.5.0/dist/echarts.min.js"></script>
    <script src="/static/semantic-ui-alerts.min.js"></script>
    <script src="/static/theme-default/js/mixin.js?v20240911"></script>
    <script>
        document.documentElement.setAttribute('nz-theme', window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
    </script>
</head>

<body>
    {{end}}