/* 屏幕适配 */
@media only screen and (max-width:767px) {
  .ui.card>.content>.header:not(.ui),
  .ui.cards>.card>.content>.header:not(.ui) {
    margin-top: 0.4em !important;
  }

  .ui.menu .item>img:not(.ui) {
    width: 2.2rem;
  }

  .ui.menu .item:before {
    width: 0.5px;
  }

  .ui.menu .item {
    padding: 0.9rem 0.55rem;
  }

  .ui.large.menu {
    font-size: 1rem;
  }
}

i.icon {
  color: #000;
  width: 1.2em !important;
}

i.fi {
  width: 0.9em;
  margin: 0px 6px 0px 2px;
}

td {
  word-wrap: break-word;
  word-break: break-all;
}

.nb-container {
  padding-top: 75px;
  min-height: 100vh;
  padding-bottom: 65px;
  margin-bottom: -47px;
}

.ui.container {
  width: 95%;
  max-width: 1680px !important;
}

#app .ui.fluid.accordion {
  margin-bottom: 1rem;
}

.login.nb-container {
  display: flex;
  align-items: center;
  padding-top: unset;
}

.login.nb-container>.grid {
  width: 100%;
  margin: 0 auto;
}

.login.nb-container>.grid .column {
  max-width: 450px;
}

.ui.menu .item-right:before {
  width: 0px;
}

.status.cards .flag {
  margin-right: 0 !important;
}

.status.cards .header>.info.icon {
  float: right;
  margin-right: 0;
}

.ui.grid {
  margin-bottom: -0.5em
}

.ui.card>.content>.header:not(.ui),
.ui.cards>.card>.content>.header:not(.ui) {
  line-height: 1em;
}

.status.cards .wide.column {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 2.3rem !important;
}

.status.cards .wide.column:nth-child(1) {
  margin-top: 1.2rem !important;
}

.status.cards .wide.column:nth-child(2) {
  margin-top: 1.2rem !important;
}

.status.cards .three.wide.column {
  text-align: center;
  width: 22% !important;
}

.status.cards .thirteen.wide.column {
  width: 78% !important;
  padding-left: 0;
}

.status.cards .description {
  padding-bottom: 0 !important;
}

.status.cards .flag {
  margin-right: 0.5rem !important;
}

.status.cards .header>.info.icon {
  float: right;
  margin-right: 0 !important;
}

.ui.popup:before {
  display: none;
}

.closePopup {
  color: rgb(10, 148, 242) !important;
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
  z-index: 9999;
}

.temp-detail {
  cursor: pointer;
}

.ui.content {
  margin: 0 !important;
  padding: 1em !important;
}

.status.cards .ui.content.popup {
  min-width: calc(100%) !important;
  line-height: 2rem !important;
  border-radius: 5px !important;
  border: 1px solid transparent !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.status.cards .outline.icon {
  margin-right: 1px !important;
}

.ui.progress .bar {
  min-width: 1.8em !important;
  border-radius: 5px !important;
  line-height: 1.65em !important;
  text-align: right;
  padding-right: 0.4em;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
  max-width: 100% !important;
}

.service-status .delay-today {
  display: flex;
  align-items: center;
}

.service-status .delay-today>i {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.6em;
  background-color: grey;
  margin-right: 0.3em;
}

.service-status .danger {
  background-color: crimson !important;
}

.service-status .good {
  background-color: rgb(10, 148, 242) !important;
}

.service-status .warning {
  background-color: orange !important;
}

.nezha-primary-btn {
  background-color: #0338d6 !important;
  color: white !important;
}

.nezha-primary-font {
  color: #0338d6 !important;
}

.nezha-secondary-font {
  height: 1em;
  color: rgb(10, 148, 242) !important;
}

.ui-alerts.top-center {
  z-index: 99999999;
}