html[nz-theme='dark'] body {
    background-color: #121212 !important;
    color: #fff !important;
}

html[nz-theme='dark']  .ui.menu {
    background-color: #282828 !important;
}

html[nz-theme='dark'] .ui.menu * {
    color: #fff !important;
}

html[nz-theme='dark'] .accordion {
    background-color: #282828 !important;
}

html[nz-theme='dark'] .accordion .title {
    color: #fff !important;
}

html[nz-theme='dark'] .ui.card {
    background-color: #3f3f3f !important;
    border: none !important;
    box-shadow: none !important;
}

html[nz-theme='dark'] .header {
    color: #fff !important;
}

html[nz-theme='dark'] .description {
    color: #fff !important;
}

html[nz-theme='dark'] .icon {
    color: #fff !important;
}

html[nz-theme='dark'] .ui.popup {
    background-color: #575757 !important;
    color: #fff !important;
}

html[nz-theme='dark'] .ui.table {
    background-color: #282828 !important;
    color: #fff !important;
}

html[nz-theme='dark'] .ui thead th {
    background-color: #3f3f3f !important;
    color: #fff !important;
}

html[nz-theme='dark'] .ui.buttons .button {
    background-color: #3f3f3f !important;
    color: #fff !important;
}

html[nz-theme='dark'] .ui.modal {
    background-color: #282828 !important;
}

html[nz-theme='dark'] .ui.modal * {
    color: #fff !important;
}

html[nz-theme='dark'] textarea,
html[nz-theme='dark'] input,
html[nz-theme='dark'] select,
html[nz-theme='dark'] .dropdown {
    background-color: #3f3f3f !important;
    color: #fff !important;
}

html[nz-theme='dark'] .ui.message {
    background-color: unset !important;
}

html[nz-theme='dark'] .ui.dropdown .menu {
    background-color: #575757 !important;
    color: #fff !important;
}

html[nz-theme='dark'] .ui.modal>.header {
    background-color: #3f3f3f !important;
}

html[nz-theme='dark'] .ui.modal>.content {
    background-color: #282828 !important;
}

html[nz-theme='dark'] .ui.modal>.actions {
    background-color: #3f3f3f !important;
}

html[nz-theme='dark'] #alert {
    background-color: #3f3f3f !important;
    color: #fff !important;
}

html[nz-theme='dark'] .ui.form .field>label {
    color: unset !important;
}

html[nz-theme='dark'] .ui.segment {
    background-color: #3f3f3f !important;
}

html[nz-theme='dark'] .ui.segment textarea,
html[nz-theme='dark'] input,
html[nz-theme='dark'] select,
html[nz-theme='dark'] .dropdown {
    background-color: #575757 !important;
    color: #fff !important;
}

html[nz-theme='dark'] form label {
    color: #fff !important;
}

html[nz-theme='dark'] .ui.inverted.segment {
    background-color: #121212 !important;
}

html[nz-theme='dark'] .ui.inverted.segment * {
    color: #8b8b8b !important;
}

html[nz-theme='dark'] .menu .dropdown {
    background-color: #282828 !important;
    color: #fff !important;
}

html[nz-theme='dark'] .ui.menu .ui.dropdown .menu>.item {
    color: #fff !important;
}

html[nz-theme='dark'] .login .ui.message{
    color: #8b8b8b !important;
}
