@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 77%;
    }
}

.login-form {
    height: 100%;
}

.login-form .column {
    max-width: 450px;
}

.login-form .grid {
    height: 100%;
}

.nb-container {
    margin-top: 75px;
}

.footer.segment {
    margin-top: 40px !important;
    padding-top: 40px;
    padding-bottom: 40px;
}