@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 77%;
    }
}

.nb-container {
    padding-top: 75px;
    min-height: 80%;
    padding-bottom: 75px;
}

.footer.segment {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-form {
    height: 82%;
}

.login-form .column {
    max-width: 450px;
}

.login-form .grid {
    height: 100%;
}

.status.cards .flag {
    margin-right: 0 !important;
}

.status.cards .header>.info.icon {
    float: right;
    margin-right: 0;
}

.status.cards .wide.column {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 2rem !important;
}

.status.cards .three.wide.column {
    padding-right: 0 !important;
}

.status.cards .wide.column:nth-child(1) {
    margin-top: 1rem !important;
}

.status.cards .wide.column:nth-child(2) {
    margin-top: 1rem !important;
}

.status.cards .description {
    padding-bottom: 1rem !important;
}

.status.cards .ui.content.popup {
    min-width: 250px;
}

.status.cards .outline.icon {
    margin-right: 0 !important;
}

.ui.progress .bar {
    min-width: 1.26em !important;
    text-align: right;
    padding-right: .4em;
    line-height: 1.75em;
    color: rgba(255, 255, 255, .7);
    font-weight: 700;
}

.service-status .delay-today {
    display: flex;
    align-items: center;
}

.service-status .delay-today>i {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    border-radius: .6em;
    background-color: grey;
    margin-right: .3em;
}

.service-status .danger {
    background-color: crimson !important;
}

.service-status .good {
    background-color: rgb(0, 235, 139) !important;
}

.service-status .warning {
    background-color: orange !important;
}