{{define "theme-hotaru/service"}}
{{template "common/header" .}}
{{template "common/menu" .}}
<div class="nb-container">
    <div class="ui container">
        <div class="ui segment service-status">
            {{range $service := .Services}}
            <div class="ui grid">
                <div class="three wide column">
                    <p>{{$service.Monitor.Name}}</p>
                    <p>30天在线率{{divU64 $service.TotalUp (addU64 $service.TotalUp $service.TotalDown)}}%</p>
                </div>
                <div class="eleven wide column">
                    {{range $i,$d := $service.Delay}}
                    <div class="ui icon button {{className (div (index $service.Up $i) (add (index $service.Up $i) (index $service.Down $i)))}}"
                        data-tooltip="{{dayBefore $i}}，平均延迟:{{$d}}ms">
                        <i class="delay"></i>
                    </div>
                    {{end}}
                </div>
                <div
                    class="two wide column round {{className (div (index $service.Up 29) (add (index $service.Up 29) (index $service.Down 29)))}}">
                    <i></i>
                    {{statusName (div (index $service.Up 29) (add (index $service.Up 29) (index $service.Down 29)))}}
                </div>
            </div>
            <div class="ui divider"></div>
            {{end}}
        </div>
    </div>
</div>
{{template "common/footer" .}}
{{end}}