{{define "theme-hotaru/viewpassword"}}
{{template "common/header" .}}
{{if ts .CustomCode}}
{{.CustomCode|safe}}
{{end}}
<div class="login nb-container">
    <div class="ui center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="static/logo.png" class="image">
                <div class="content">
                    验证查看密码
                </div>
            </h2>
            <form action="/view-password" method="POST" class="ui form">
                <div class="field">
                    <input type="password" name="Password">
                </div>
                <button class="ui button" type="submit">确认</button>
            </form>
        </div>
    </div>
</div>
{{template "common/footer" .}}
{{end}}