{{define "theme-daynight/network"}}
<!doctype html>
<html lang="{{.Conf.Language}}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{.Title}}</title>
    <link rel="shortcut icon" type="image/png" href="/static/logo.svg?v20210804" />

    <link rel="stylesheet" href="/static/theme-daynight/css/main.css?v202108042286">
    <link href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/echarts/5.3.0-rc.1/echarts.min.js"></script>

    {{if ts .CustomCode}}
    {{.CustomCode|safe}}
    {{end}}
</head>

<body data-theme="light" data-gridlist="grid">
<header>
    <section class="nav-bar clearfix">
        <figure class="logo">
            <a href="/">
                <img src="/static/logo.svg?v20210804" alt='{{tr "NezhaMonitoring"}}' width="50" height="50">
            </a>
            <a href="/">{{.Conf.Site.Brand}}</a>
        </figure>
        <div class="icon-container">
            <div class="row cf">
                <div class="three col">
                    <div class="hamburger" id="hamburger-icon"><span class="line"></span><span
                            class="line"></span><span class="line"></span></div>
                </div>
            </div>
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="/">{{tr "Home"}}</a></li>
                <li><a href="/service">{{tr "Services"}}</a></li>
                <li><a href="/network">{{tr "NetworkSpiter"}}</a></li>
                {{if .Admin}}
                <li><a href="/server">{{tr "AdminPanel"}}</a></li>
                {{else}}
                <li><a href="/login">{{tr "Login"}}</a></li>
                {{end}}
            </ul>
        </nav>
    </section>
</header>

<main>
    <div id="network">
        <div class="server-info-container" v-for='server in servers' :id="server.ID" style="font-size: .6em">
            <div class="info-body" @click="redirectNetwork(server.ID)">
                <ul class="server-info-body-container">
                    <li>
                        <h3>@#server.Name#@</h3>
                    </li>
                    <li><img :src="'/static/theme-daynight/img/flag/'+(server.Host&&server.Host.CountryCode?server.Host.CountryCode.toUpperCase():'CN')+'.png'"
                             :title="server.Host.CountryCode.toUpperCase()" /></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="network-chart" style="height: 800px;overflow: hidden">
        <div id="monitor-info-container" style="height: 520px;max-width: 1400px">
        </div>
    </div>
    <div class="sidebar-container">
        <ul>
            <li><i class="fas fa-sun" title='{{tr "LightMode"}}'></i><span>{{tr "LightMode"}}</span></li>
            <li><i class="fas fa-moon" title='{{tr "DarkMode"}}'></i><span>{{tr "DarkMode"}}</span></li>
            <li><i class="fas fa-th" title='{{tr "GridLayout"}}'></i><span>{{tr "GridLayout"}}</span></li>
            <li><i class="fas fa-list-ul" title='{{tr "ListLayout"}}'></i><span>{{tr "ListLayout"}}</span></li>
        </ul>
    </div>
</main>

<section class="dark-light-toggle">
    <label class="switcher">
        <input type="checkbox" name="theme" id="dark-light" />
        <div>
            <i class="fas fa-adjust"></i>
        </div>
    </label>
</section>

<!-- Back to top button -->
<a id="back-to-top"></a>

<footer>
    <div class="footer-container">
        <div><a href="https://github.com/naiba/nezha" target="_blank">Powered by {{tr "NezhaMonitoring"}} · {{.Version}}</a>
            <p>&copy; <span id="copyright-date">
                        <script>document.getElementById('copyright-date').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                    </span> · <a href="https://blog.jackiesung.com" target="_blank">Theme designed by Jackie Sung</a>
            </p>
        </div>
    </div>
</footer>

<script src="/static/theme-daynight/js/main.js?v202102012266"></script>
<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/vue/2.6.14/vue.min.js"></script>
<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/limonte-sweetalert2/11.4.4/sweetalert2.all.min.js"></script>

<script>
    const monitorInfo =  JSON.parse('{{.MonitorInfos}}');
    const initData = JSON.parse('{{.Servers}}').servers;
    let MaxTCPPingValue = {{.Conf.MaxTCPPingValue}};
    if (MaxTCPPingValue == null) {
        MaxTCPPingValue = 1000;
    }
    new Vue({
        el: '#app',
        delimiters: ['@#', '#@'],
        data: {
            page: 'network',
            defaultTemplate: {{.Conf.Site.Theme}},
            templates: {{.Themes}},
            servers: initData,
            option: {
                tooltip: {
                    trigger: 'axis',
                    position: function (pt) {
                        return [pt[0], '10%'];
                    },
                    formatter: function(params){
                        let result = params[0].axisValueLabel + "<br />";
                        params.forEach(function(item){
                            result += item.marker + item.seriesName + ": " + item.value[1].toFixed(2) + " ms<br />";
                         })
                        return result;
                    },
                    confine: true,
                    transitionDuration: 0
                },
                title: {
                    left: 'center',
                    text: "",
                    textStyle: {}
                },
                legend: {
                    top: '5%',
                    data: [],
                    textStyle: {
                        fontSize: 14
                    }
                },
                grid: {
                    left: '8%',
                    right: '8%',
                },
                backgroundColor: 'rgba(255, 255, 255, 0.8)',
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                dataZoom: [
                    {
                        start: 0,
                        end: 100
                    }
                ],
                xAxis: {
                    type: 'time',
                    boundaryGap: false
                },
                yAxis: {
                    type: 'value',
                    boundaryGap: false
                },
                series: [],
            },
            chartOnOff: true,
        },
        mixins: [mixinsVue],
        mounted() {
            this.renderChart();
            this.parseMonitorInfo(monitorInfo);
            window.addEventListener('resize', this.resizeHandle);
        },
        destroyed () {
            window.removeEventListener('resize', this.resizeHandle)
        },
        methods: {
            getFontLogoClass(str) {
                if (["almalinux",
                        "alpine",
                        "aosc",
                        "apple",
                        "archlinux",
                        "archlabs",
                        "artix",
                        "budgie",
                        "centos",
                        "coreos",
                        "debian",
                        "deepin",
                        "devuan",
                        "docker",
                        "elementary",
                        "fedora",
                        "ferris",
                        "flathub",
                        "freebsd",
                        "gentoo",
                        "gnu-guix",
                        "illumos",
                        "kali-linux",
                        "linuxmint",
                        "mageia",
                        "mandriva",
                        "manjaro",
                        "nixos",
                        "openbsd",
                        "opensuse",
                        "pop-os",
                        "raspberry-pi",
                        "redhat",
                        "rocky-linux",
                        "sabayon",
                        "slackware",
                        "snappy",
                        "solus",
                        "tux",
                        "ubuntu",
                        "void",
                        "zorin"].indexOf(str)
                    > -1) {
                    return str;
                }
                if (['openwrt', 'linux', "immortalwrt"].indexOf(str) > -1) {
                    return 'tux';
                }
                if (str == 'amazon') {
                    return 'redhat';
                }
                if (str == 'arch') {
                    return 'archlinux';
                }
                return '';
            },
            redirectNetwork(id) {
                    this.getMonitorHistory(id)
                    .then(function(monitorInfo) {
                          var vm = app.__vue__;
                          vm.parseMonitorInfo(monitorInfo);
                    })
                    .catch(function(error){
                        window.location.href = "/404";
                    })
                },
            getMonitorHistory(id) {
                  return $.ajax({
                    url: "/api/v1/monitor/"+id,
                    method: "GET"
                  });
            },
            parseMonitorInfo(monitorInfo) {
                let tSeries = [];
                let tLegendData = [];
                var lcolors = ['#5470c6', '#91cc75', '#fac858', '#ee6666', '#73c0de', '#3ba272', '#fc8452', '#9a60b4', '#ea7ccc'];
                let maxPing = 0;
                for (let i = 0; i < monitorInfo.result.length; i++) {
                	 for (let j = 0; j < monitorInfo.result[i].created_at.length; j++) {
                	 	avgDelay = Math.round(monitorInfo.result[i].avg_delay[j]);
                        if ( avgDelay < MaxTCPPingValue && avgDelay > maxPing) {
                            maxPing = avgDelay;
                        }
                	 }
                }
                for (let i = 0; i < monitorInfo.result.length; i++) {
                    var lcolor = lcolors[i % lcolors.length];
                    var rgbaColorMarker = 'rgba(' + parseInt(lcolor.slice(1, 3), 16) + ',' + parseInt(lcolor.slice(3, 5), 16) + ',' + parseInt(lcolor.slice(5, 7), 16) + ',0.5)';
                    var rgbaColorBar = 'rgba(' + parseInt(lcolor.slice(1, 3), 16) + ',' + parseInt(lcolor.slice(3, 5), 16) + ',' + parseInt(lcolor.slice(5, 7), 16) + ',0.35)';
                    let loss = 0;
                    let data = [];
                    let datal = [];
                    for (let j = 0; j < monitorInfo.result[i].created_at.length; j++) {
                        avgDelay = Math.round(monitorInfo.result[i].avg_delay[j]);
                        if (avgDelay > 0 && avgDelay < MaxTCPPingValue) {
                            data.push([monitorInfo.result[i].created_at[j], avgDelay]);
                        }
                        else {
                            loss += 1;
                            datal.push([monitorInfo.result[i].created_at[j], maxPing]);
                        }
                    }
                    lossRate = ((loss / monitorInfo.result[i].created_at.length) * 100).toFixed(1);
                    if (lossRate > 99) {
                        datal = [];
                    }
                    legendName = monitorInfo.result[i].monitor_name +" "+ lossRate + "%";
                    tLegendData.push(legendName);
                    tSeries.push({
                            name: legendName,
                            type: 'line',
                            smooth: true,
                            symbol: 'none',
                            data: data,
                            markPoint: {
                                data: [
                                    { type: 'max', symbol: 'pin', name: 'Max', itemStyle: { color: rgbaColorMarker }, symbolSize: 30, label: { fontSize: 8 } },
                                    { type: 'min', symbol: 'pin', name: 'Min', itemStyle: { color: rgbaColorMarker }, symbolSize: 30, label: { fontSize: 8, offset: [0, 7.5] }, symbolRotate: 180 }
                                ]
                            }
                    });
                    tSeries.push({
                            name: legendName,
                            type: 'bar',
                            smooth: true,
                            symbol: 'none',
                            data: datal,
                            itemStyle: { color: rgbaColorBar }
                    });
                }
                this.option.title.text = monitorInfo.result[0].server_name;
                this.option.series = tSeries;
                this.option.legend.data = tLegendData;
                this.myChart.clear();
                this.myChart.setOption(this.option);
            },
                this.option.title.text = monitorInfo.result[0].server_name;
                this.option.series = tSeries;
                this.option.legend.data = tLegendData;
                this.myChart.clear();
                this.myChart.setOption(this.option);
            },
            isWindowsPlatform(str) {
                return str.includes('Windows')
            },
            renderChart() {
              this.myChart = echarts.init(this.$refs.chartDom);
              this.myChart.setOption(this.option);
            },
            resizeHandle () {
              this.myChart.resize();
            },
        },
        beforeDestroy() {
            this.myChart.dispose();
            this.myChart = null;
        },
    });
</script>
</body>
<style>
#network {
    display: grid;
    /*grid-template-columns: repeat(5, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1em;
    width: 100%;
    width: calc(100vw - 6em);
    max-width: 1400px;
    margin: 1em auto;
    align-content: start;
}
#monitor-info-container{
    margin: 0em auto;
    align-content: start;
    background-color: #F1F1F2;
}
</style>

</html>
{{end}}

