{{define "dashboard-default/error"}}
{{template "common/header" .}}
<div class="login nb-container">
    <div class="ui center aligned grid">
        <div class="column">
            <h2 class="ui image header">
                <img src="/static/logo.svg?v20210804" class="image">
                <div class="content">
                    {{tr "AccessDenied"}}
                </div>
            </h2>
            <div class="ui message">
                <p>
                    {{.Msg}}
                </p>
                <a href="{{.Link}}">{{.Btn}}</a>
            </div>
        </div>
    </div>
</div>
{{template "common/footer" .}}
{{end}}