{{define "dashboard/login"}}
{{template "common/header" .}}
<div class="login-form">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="static/logo.png" class="image">
                <div class="content">
                    使用 GitHub 账号登录
                </div>
            </h2>
            <a href="/oauth2/login" class="ui fluid large teal submit button">登录</a>
            <div class="ui message">
                没有账号？ <a href="https://github.com/join" target="_blank">注册</a>
            </div>
        </div>
    </div>
</div>
{{template "common/footer" .}}
{{end}}