{{define "theme-angel-kanade/footer"}}
</div>
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned is-size-7 container">
        <b>&copy; <a style="color: white;" href="/">{{.Conf.Site.Brand}}</a></b> | 
		Powered by <a style="color: white;" href="https://github.com/naiba/nezha"><st>{{tr "NezhaMonitoring"}}&lt;{{.Version}}&gt;</st></a>&nbsp;| Theme designed 
        <small>by.<a
                href="https://yujie.pro" style="color: white;" target="_blank">夜灭</a>
        </small>
    </div>
</div>
<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/jquery/3.6.0/jquery.min.js"></script>
<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="/static/semantic-ui-alerts.min.js"></script>
<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/vue/2.6.14/vue.min.js"></script>
<script src="/static/main.js?v20241011"></script>
<script src="/static/theme-default/js/mixin.js?v20240302"></script>
<script>
    (function () {
        updateLang({{.LANG }});
    })();
</script>
</body>
</html>
{{end}}