{{define "theme-mdui/menu"}}

  <!-- Menu -->
  <div class="mdui-appbar">
    <div class="mdui-tab mdui-color-theme" mdui-tab>
      {{if .IsAdminPage}}
      <a href="/server" class="mdui-ripple mdui-ripple-white mdui-hoverable "><i class="mdui-icon material-icons">computer</i>{{tr "Server"}}</a>
      <a href="/monitor" class="mdui-ripple mdui-ripple-white mdui-hoverable"><i class="mdui-icon material-icons">accessibility</i>{{tr "Services"}}</a>
      <a href="/cron" class="mdui-ripple mdui-ripple-white mdui-hoverable"><i class="mdui-icon material-icons">access_time</i>{{tr "Task"}}</a>
      <a href="/notification" class="mdui-ripple mdui-ripple-white mdui-hoverable"><i class="mdui-icon material-icons">notifications</i>{{tr "Notification"}}</a>
      <a href="/setting" class="mdui-ripple mdui-ripple-white mdui-hoverable"><i class="mdui-icon material-icons">settings</i>{{tr "Settings"}}</a>
      {{else}}
      <a href="/" class='mdui-ripple mdui-ripple-white mdui-hoverable{{if eq .MatchedPath "/"}} mdui-tab-active{{end}}'><i class="mdui-icon material-icons">home</i>{{tr "Home"}}</a>
      <a href="/service" class='mdui-ripple mdui-ripple-white mdui-hoverable{{if eq .MatchedPath "/service"}} mdui-tab-active{{end}}'><i class="mdui-icon material-icons">accessibility</i>{{tr "Services"}}</a>
      <a href="/network" class='mdui-ripple mdui-ripple-white mdui-hoverable{{if eq .MatchedPath "/network"}} mdui-tab-active{{end}}'><i class="mdui-icon material-icons">network_check</i>{{tr "NetworkSpiter"}}</a>
      {{end}}
      <div class="mdui-toolbar-spacer"></div>
      {{if .Admin}}
        {{if .IsAdminPage}}
        <a href="/" class='mdui-ripple mdui-ripple-white mdui-hoverable {{if eq .MatchedPath "/"}} mdui-tab-active{{end}}'><i class="mdui-icon material-icons">arrow_back</i>{{tr "BackToHomepage"}}</a>
        {{else}}
        <a href="/server" class="mdui-ripple mdui-ripple-white mdui-hoverable"><i class="mdui-icon material-icons">arrow_forward</i>{{tr "AdminPanel"}}</a>
        {{end}}
        <a class="mdui-ripple mdui-ripple-white mdui-hoverable" onclick="showConfirm('{{tr "ConfirmLogout"}}','{{tr "AfterLoggingOutYouHaveToLoginAgain"}}',logout,{{.Admin.ID}})"><i class="mdui-icon material-icons">directions_run</i>{{tr "Logout"}}</a>
      {{else}}
      <a href="/login" class="mdui-ripple mdui-ripple-white mdui-hoverable">{{tr "Login"}}</a>
      {{end}}
    </div>
  </div>

{{end}}
