{{define "component/api"}}
<div class="ui tiny api modal transition hidden">
    <div class="header">{{tr "IssueNewApiToken"}}</div>
    <div class="content">
        <form id="apiForm" class="ui form">
            <input type="hidden" name="id">
            <div class="field">
                <label>{{tr "Note"}}</label>
                <textarea name="Note"></textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui negative button">{{tr "Cancel"}}</div>
        <button class="ui positive nezha-primary-btn right labeled icon button">{{tr "Confirm"}}<i class="checkmark icon"></i>
        </button>
    </div>
</div>
{{end}}