{{define "component/server"}}
<div class="ui tiny server modal transition hidden">
    <div class="header">{{tr "AddServer"}}</div>
    <div class="content">
        <form id="serverForm" class="ui form">
            <input type="hidden" name="id">
            <div class="field">
                <label>{{tr "Name"}}</label>
                <input type="text" name="name" placeholder="{{tr "EinsteinLightspeed1"}}">
            </div>
            <div class="field">
                <label>{{tr "ServerGroup"}}</label>
                <input type="text" name="Tag" placeholder="{{tr "ServerGroup"}}">
            </div>
            <div class="field">
                <label>{{tr "DisplayIndex"}}</label>
                <input type="number" name="DisplayIndex" placeholder="{{tr "TheLargerTheNumberTheHigherThePriority"}}">
            </div>
            <div class="secret field">
                <label>{{tr "Secret"}}</label>
                <input type="text" name="secret">
            </div>
            <div class="field">
                <div class="ui hideforguest checkbox">
                    <input name="HideForGuest" type="checkbox" tabindex="0" class="hidden" />
                    <label>{{tr "HideForGuest"}}</label>
                </div>
            </div>
            <div class="field">
                <div class="ui enableddns checkbox">
                    <input name="EnableDDNS" type="checkbox" tabindex="0" />
                    <label>{{tr "EnableDDNS"}}</label>
                </div>
            </div>
            <div class="field">
                <div class="ui enableipv4 checkbox">
                    <input name="EnableIPv4" type="checkbox" tabindex="0" />
                    <label>{{tr "EnableIPv4"}}</label>
                </div>
            </div>
            <div class="field">
                <div class="ui enableipv6 checkbox">
                    <input name="EnableIpv6" type="checkbox" tabindex="0" />
                    <label>{{tr "EnableIpv6"}}</label>
                </div>
            </div>
            <div class="field">
                <label>{{tr "DDNSDomain"}}</label>
                <input type="text" name="DDNSDomain" placeholder="{{tr "DDNSDomain"}}">
            </div>
            <div class="field">
                <label>{{tr "DDNSProfile"}}</label>
                <input type="text" name="DDNSProfile" placeholder="{{tr "DDNSProfile"}}">
            </div>
            <div class="field">
                <label>{{tr "Note"}}</label>
                <textarea name="Note"></textarea>
            </div>
            <div class="command field">
                <label>{{tr "LinuxOneKeyInstall"}}</label>
                <div class="ui message">
                    {{if .Conf.GRPCHost}}
                    curl -L https://raw.githubusercontent.com/naiba/nezha/master/script/install.sh -o nezha.sh && chmod
                    +x nezha.sh && ./nezha.sh install_agent <code class="command">{{.Conf.GRPCHost}}</code> <code
                        class="command">{{if .Conf.ProxyGRPCPort}}{{.Conf.ProxyGRPCPort}}{{else}}{{.Conf.GRPCPort}}{{end}}</code> <code
                        class="command hostSecret"></code> <code class="command">{{if .Conf.TLS}}--tls{{end}}</code>
                    {{else}}
                    {{tr "NoDomainAlert"}}
                    {{end}}
                </div>
            </div>
        </form>
    </div>
    <div class=" actions">
        <div class="ui negative button">{{tr "Cancel"}}</div>
        <button class="ui positive nezha-primary-btn right labeled icon button">{{tr "Confirm"}}<i class="checkmark icon"></i>
        </button>
    </div>
</div>
{{end}}