{{define "component/server"}}
<div class="ui tiny server modal transition hidden">
    <div class="header">添加服务器</div>
    <div class="content">
        <form id="serverForm" class="ui form">
            <input type="hidden" name="id">
            <div class="field">
                <label>备注</label>
                <input type="text" name="name" placeholder="爱因斯坦-光速1号">
            </div>
            <div class="field">
                <label>分组</label>
                <input type="text" name="Tag" placeholder="服务器分组">
            </div>
            <div class="field">
                <label>展示权重</label>
                <input type="number" name="DisplayIndex" placeholder="越大越靠前">
            </div>
            <div class="secret field">
                <label>密钥</label>
                <input type="text" name="secret">
            </div>
            <div class="field">
                <label>隐藏备注</label>
                <textarea name="Note"></textarea>
            </div>
        </form>
    </div>
    <div class=" actions">
        <div class="ui negative button">取消</div>
        <button class="ui positive right labeled icon button">确认<i class="checkmark icon"></i>
        </button>
    </div>
</div>
{{end}}